@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Alumni Sans", sans-serif; */
/* font-family: "Alan Sans", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Kalam", cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}







.hero {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    line-height: 25px;
}
.hero h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    text-transform: capitalize;
}
.hero p {
    font-size: .8em;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: .5px;
    /* color: #A9242B; */
    background-color: #A9242B;
    padding: 0 .4em;
    margin: .5em 0 0 0 ;
    border-radius: 3px;
    
}

main {
    padding: 2em;
}
.main-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
    gap: 4em;
}
.main-head-title h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 30em;
    color: #000000;
    font-family: "Roboto", sans-serif;
    span {
        font-family: "Kalam", cursive;
        font-weight: 100;
        font-size: .9em;
    }
}
.button a{
    background-color: #A9242B;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: .6em 1.6em;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}



.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 5em;
}

.main-middle-container {
    background-color: rgb(245, 245, 245);
    padding: 0 1em;
    margin-top: 1em;
    width: fit-content;
    text-align: center;
    height: 320px;
}
.main-middle-title {
    margin: 1em;
}
.main-middle > div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: .7em;
    
}
.main-middle > a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: black;
    
    
}

.main-middle {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 280px;
    gap: 1px;
}


.months-all-mob {
    margin-bottom: 5em;
}


@media (max-width: 1449px) {
    .main-flex {
        padding: 0 5em;
    }
}
@media (max-width: 1289px) {
    .main-flex {
        padding: 0 3em;
    }
}
@media (max-width: 753px) {
    /* .main-flex {
        padding:  0em;
    }
     */
    .hero p {
        font-size: .8em;
    }
    .main-head-title h1 {
        font-size: 1.2em;
        font-weight: 400;
    
    }  
    
}
@media (max-width: 655px) {
    .main-flex {
        padding: 0 10em;
    }
    .display-none {
        display: none;
    }
    main {
        padding: 1em;
    }
    .content {
        margin-top: .06em;
    }
    

}
@media (min-width: 656px) {
    .collapsible , .content {
        display: none;
    }
    .top{
        padding: 50em;
    }
    months-all-mob h1 {
        display: none;
    }
    
}



.main-bottom {
    text-align: center;
    margin: 0 0 5em 0;
}






.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-top: 0;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #777;
  margin-top: 0;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: 0;
}

.active:after {
    content: "\2212";
    margin-top: 0;
}

.content {
    /* margin:0 0 4em 0; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}



.logo-footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #00030B; 
    height:100%;
    padding: 2em;
    display: flex;
    justify-content: center;
}

input[type=text],input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:  #A9242B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #9c1b22;
}

.contact-form-container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  max-width: 25em;
}


months-all-mob h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0 0 1em 0;
    text-decoration: underline;
    text-transform: capitalize;
}

.logo-footer img {
    width: 100px;
}

#training {
    background-color: #dd444b;
    color: white;
}
#training:hover {
    background-color: #b6383e;
}
.finished {
    opacity: .1;
}

.m-5em {
    margin-bottom: 5em;
}
.today {
    border: 3px solid rgb(255, 255, 255);
}
.welcome-percona-name {
    position: absolute;
    top: 150px;
    font-style: italic;
     color: #777;
}


