@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Vazirmatn:wght@100..900&display=swap');
/* font-family: "Alumni Sans", sans-serif; */
/* font-family: "Alan Sans", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Kalam", cursive; */
/* font-family: "Merienda", cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
    
}



.mob-head-container header {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1em;
        color: rgb(173, 173, 173);
        letter-spacing: 1px;
    }
    a {
        color: #A9242B;
        font-family: "Roboto", sans-serif;
        border: 1px solid white;
        padding: 1em;
        transition: .5s ease;
    }
    a:hover {
        color: white;
        border: 1px solid #A9242B;
    }
}
.mob-head-container .out {
    opacity: 0;
}
.mob-head-container footer {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    
    a {
        padding: .9em 1em;
        background-color: #A9242B;
        img {
            width: 10px;
        }
    }
    h1 {
        text-decoration: none;
    }
    p {
        font-family: "Roboto", sans-serif;
        color: rgb(173, 173, 173);
        font-weight: 300;
        font-size: 1em;
    }
}
.explanation {
    padding: 2.8em;
    h1 {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: .2em;
        
    }
    p {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1em;
        line-height: 1.2em;
        text-align: justify;
        font-weight: 200;
        letter-spacing: .8px;
    }
}


main-video-container {
    padding: 3em;
    
}

.main-video-content{
    padding: 0 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.video-warm-up-title h1, 
.video-basic-exsercises-title h1, 
.video-stretching-exsercises-container h1 {
    margin: 4em 0 2em 0;
    font-family: "Vazirmatn", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}
.video-warm-up-sub-title {
    margin-top: .3em;
    h2 {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2em;
        font-weight: 300;
    }
    
}
.created-by-ds, .exercises-number{
    p {
        font-family: "Vazirmatn", sans-serif;
        font-size: 0.7em;
        font-weight: 200;
    }
}

.margin-bottom {
    margin-bottom: 5em;
}

.smootie {
    padding: 1em;
    font-family: "Vazirmatn", sans-serif;
    text-align: center;
    p {
        font-family: "Kalam", cursive;
        font-size: 1.5em;
    }
}


@media (min-width: 768px) {
    body {
        display: flex;
        
    }
    .top-tab-wind-container {
        height: 100dvh;
    }
    .tab-wind-container {
        min-width: 35%;
        max-width: 40%;
        height: 100dvh;
        overflow: auto;
    }
    .main-video-content{
        padding: 0 1em;
        position: relative;
        border-left: 1px solid #00113c;
        background-color: rgb(255, 255, 255);
    }
    .main-video-content::after{
        content: "";
        width: 100%;
        height: 1px;
        bottom: 40px;
        position: absolute;
        background-color: #00113c;
    }
    .explanation {
        padding-top: .5em;
    }
    .video-warm-up-container {
        h1 {
            margin: 1em 0 0 0;
        }
        img {
            margin-bottom: 4em;
            
        }
    }
    .video-created {
        display: none;
    }
    .video-basic-exsercises-title h1, .video-stretching-exsercises-container h1 {
        margin: 0em 0 0 0;
    }
    .top-basic-tab-wind-container {
        width: 100%;
    }
    
}
@media (min-width: 1024px) {
    
}