@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.head-title {
  height: 60px;
  background-color: #101011;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 50px;

  h1 {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.real-day-time {
  color: #4b4b4b;
  display: flex;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px 10px 0 50px;
    font-weight: 500;
  }
  margin-bottom: 2rem;
}

.day-section {
  margin-top: 1rem;
  color: #4b4b4b;

  .day-section-title {
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      padding: 0px 50px;
      font-weight: 500;
    }
  }
  .day-section-main {
    margin-top: 0.2rem;
    padding: 0px 30px 20px 30px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 15px 20px;
      border-radius: 10px;
      background-color: #0e0e0e;
      position: relative;
    }
    h1::before {
      content: "";
      position: absolute;
      background-color: #A9242B;
      left: 0;
      top: 10%;
      width: 2px;
      height: 80%;
      margin: 0 0.6rem;
    }
  }
}

.opacity {
  opacity: 0;
}

.explane {
  margin: 2rem 0 5rem 0;
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
  padding: 10px 10px 0 50px;
  max-width: 40rem;
  h1 {
    font-size: 1.5rem;

    p {
      font-size: 1rem;
      font-weight: 100;
    }

  }
}
