@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*  font-family: "Roboto Condensed", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Alex Brush", cursive;
font-family: "Oswald", sans-serif;
font-family: "Alumni Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

:root {
  --x-width: calc(var(--hamburger-hight) * 1.41421356237);
  --bar-width: 30px;
  --bar-hight: 4px;
  --hamburger-gap: 3px;
  --foreground: #a9242b;
  --background: #4B4B4B;
  --hamburger-margin: 30px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-hight: calc(var(--bar-hight) * 3 + var(--hamburger-gap) * 2);
}

body {
  background-color: #000000;
  max-width: 100dvw;
  overflow-x: hidden;
  border: none;
}

img {
  width: 100%;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  cursor: pointer;
  padding: 30px;
}

.hamburger-menu:has(input:checked) {
  z-index: 99999;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-hight);
  background-color: var(--background);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
    
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-hight) / -2);
  opacity: 1;
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-hight) / 2);
}

.nav-bar-container {
  height: 40px;
  background-color: #101011;
}

.nav-bar-container input {
  appearance: none;
  outline: none;
  pointer-events: none;
}
.nav-bar-container input:checked {
  opacity: 0;
  width: 0;
}

/* border-image: fill 1 linear-gradient(45deg, hsla(357, 65%, 40%, .5), hsla(0, 0%, 0%, 0.5)); */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: var(--hamburger-margin);
  padding-top: calc(var(--hamburger-hight) + var(--hamburger-margin) + 1rem);
  background-color: #090a0a;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  z-index: 9999;

  color: var(--background);
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar li,
.sidebar a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}


nav {
  overflow: auto;
  padding: 100px 0 0;
  min-height: 90%;
  position: fixed;
}

.sidebar a {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-family: "Alumni Sans", sans-serif;
}

@media (min-width: 500px) {
  .sidebar {
    width: 420px;
    min-height: 100dvh;
  }
}
@media (min-width: 640px) {
  .sidebar {
    width: 420px;
    min-height: 100vh;
  }
}
@media (min-width: 920px) {
  .sidebar {
    width: 500px;
    min-height: 100vh;
  }
  .hamburger-menu {
    position: fixed;
    z-index: 2;
    cursor: pointer;
  }
  
}
/* --------------------------------------------- */
